.productBox{
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 12px;
    width: 80%;
    height: 80%;
    background-color:#C8F7FE;
    border-radius: 15px;
    
}

.productBox a{
    text-decoration: none;
    font-size: 20px;
    color: #000000;
}