/* .product-style{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px 10px 0px 25px;
    gap: 12px;
} */

.product-style{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px 0px 0px 0px; 
}

.product-style img{
    max-width: 90px;
    padding: 20px;
}

.buttons img{
    cursor: pointer;
}

/* Estilização da tela Conta*/
.conta-style{
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.estoque-style{
    display: flex;
    flex-direction: column;
    margin: 0px -15px 0px 0px;
    padding: 18px;
    gap: 10px;
}

#options{
font-size: 14px;
  background-color: #f8f8f8;
  color: #666;
  padding: 8px;
}

.links-style a{
    text-decoration: none;
}

