.product-style{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.buttons img{
    cursor: pointer;
}

/* Estilização da tela Conta*/
.conta-style{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
}

#options{
    font-size: 14px;
  background-color: #f8f8f8;
  color: #666;
  padding: 8px;
}

